<launch>

<group ns="hardware">
	<node name="head" pkg="head" type="head_node" output="screen">
				<param name="port" value="/dev/justinaHead"/>
				<param name="baud" value="1000000"/>
				<param name="bulk_enable" value="true"/>
				<param name="write_sync_enable" value="true"/>
				<param name="read_simul" value="false"/>
				<param name="simul" value="false"/>
	</node>
</group>
<group ns="interoperation">
	     <node name="joystick_teleop" pkg="joystick_teleop" type="joystick_logitech.py" output="screen" />
	</group>
</launch>