<launch>
  <arg name="simul" default="true"/>
  <arg name="initial_pose_x" default="0.0"/>
	<arg name="initial_pose_y" default="0.0"/>
	<arg name="initial_pose_a" default="0.0"/>
	<arg name="dynamic_map" default="false"/>
	<arg name="clean_goal_map" default="false"/>
	<arg name="clean_unexplored_map" default="false"/>
	<arg name="look_at_goal" default="false"/>
	<arg name="avoidance_type_obstacle" default="false"/>
	<arg name="kinect_minX" default="0.25"/>
	<arg name="kinect_maxX" default="0.9"/>
	<arg name="kinect_minY" default="-0.35"/>
	<arg name="kinect_maxY" default="0.35"/>
	<arg name="kinect_minZ" default="0.05"/>
	<arg name="kinect_maxZ" default="1.0"/>
	<arg name="calculate_diagonal_paths" default="false"/>
  <arg name="hostname" default="192.168.0.11" />
  <arg name="tf_prefix" default="no_prefix"/>
  <arg name="use_tf_prefix" default="false" />
  
  <param name="robot_description" textfile="$(find robotino_description)/urdf/robotino.urdf" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
  	<param name="publish_frequency" type="double" value="20.0" />
        <param name="tf_prefix" value="$(arg tf_prefix)" if="$(arg use_tf_prefix)"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="laser_camera_broadcaster" args="0.0 0 0.0 0 0 0 laser_link camera_depth_frame 50" unless="$(arg use_tf_prefix)" />
  <node pkg="tf" type="static_transform_publisher" name="laser_camera_broadcaster" args="0.0 0 0.0 0 0 0 $(arg tf_prefix)/laser_link $(arg tf_prefix)/camera_depth_frame 50" if="$(arg use_tf_prefix)" />
  <node pkg="tf" type="static_transform_publisher" name="base_laser_broadcaster_from_launch_file" args="0.13 0 0.05 0 0 0 base_link laser_link 100" unless="$(arg use_tf_prefix)"/>
  <node pkg="tf" type="static_transform_publisher" name="base_laser_broadcaster_from_launch_file" args="0.13 0 0.05 0 0 0 $(arg tf_prefix)/base_link $(arg tf_prefix)/laser_link 100" if="$(arg use_tf_prefix)"/>

  <node name="robotino_node" pkg="robotino_base" type="robotino_node" output="screen">
        <param name="hostname" value="$(arg hostname)" />
        <param name="max_linear_vel" value="1.0" />
        <param name="min_linear_vel" value="0.01" />
        <param name="max_angular_vel" value="1.0" />
        <param name="min_angular_vel" value="0.01" />
        <param name="ns_room_id" value="3" />
        <param name="ns_ceil_height" value="3.0" />
        <param name="tf_prefix" value="$(arg tf_prefix)" />
        <remap from="robotino_joint_states" to="joint_states" />
	<remap from="/cmd_vel" to="/hardware/mobile_base/cmd_vel"/>
        <!--remap from="image_raw" to="image"/-->
    </node>

    <node name="robotino_laserrangefinder_node" pkg="robotino_base" type="robotino_laserrangefinder_node" output="screen">
        <param name="hostname" value="$(arg hostname)" />
        <param name="laserRangeFinderNumber" value="0" />
        <param name="tf_prefix" value="$(arg tf_prefix)" />
	<remap from="/scan" to="/hardware/scan"/>
    </node>

    <node name="robotino_odometry_node" pkg="robotino_base" type="robotino_odometry_node" output="screen">
        <param name="hostname" value="$(arg hostname)" />
        <param name="tf_prefix" value="$(arg tf_prefix)" />
    </node>

    <group ns="hardware">
		
		<node name="joy" pkg="joy" type="joy_node" output="screen"/>
		
	</group>

   <group ns="hri">
                <node name="rviz" pkg="rviz" type="rviz" args="-d $(find knowledge)/hri/rviz_config.rviz"/>
                <!-- node name="justina_gui" pkg="justina_gui" type="justina_gui_node" output="screen"
                        args="-p $(find knowledge)/navigation/"/ -->
                <node name="jrviz" pkg="jrviz" type="jrviz_node" args="-d $(find knowledge)/hri/rviz_config.rviz -p $(find knowledge)/navigation/ -dv $(find knowledge)/hri/rviz_config_nav.rviz" output="screen"/>
		<node name="leg_finder" pkg="leg_finder" type="leg_finder_node" args="--hyp" output="screen"/>
		<node name="human_follower" pkg="human_follower" type="human_follower_node" args="--move_head" output="screen"/>
	</group>
	<node name="bbros_bridge" pkg="bbros_bridge" type="bbros_bridge_all.py" args="-f $(find bbros_bridge)/src/files/topics_inclusion_list.json"/>
	<group ns="interoperation">
		<node name="joystick_teleop" pkg="joystick_teleop" type="joystick_teleop_node.py" output="screen" />
	</group>
	

	<include file="$(find surge_et_ambula)/launch/justina_navigation.launch">
		<arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
		<arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
		<arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
		<arg name="dynamic_map" value="$(arg dynamic_map)"/>
		<arg name="clean_goal_map" value="$(arg clean_goal_map)"/>
		<arg name="clean_unexplored_map" value="$(arg clean_unexplored_map)"/>
		<arg name="look_at_goal" value="$(arg look_at_goal)"/>
		<arg name="avoidance_type_obstacle" value="$(arg avoidance_type_obstacle)"/>
		<arg name="kinect_minX" value="$(arg kinect_minX)"/>
		<arg name="kinect_maxX" value="$(arg kinect_maxX)"/>
		<arg name="kinect_minY" value="$(arg kinect_minY)"/>
		<arg name="kinect_maxY" value="$(arg kinect_maxY)"/>
		<arg name="kinect_minZ" value="$(arg kinect_minZ)"/>
		<arg name="kinect_maxZ" value="$(arg kinect_maxZ)"/>
		<arg name="calculate_diagonal_paths" value="$(arg calculate_diagonal_paths)"/>
	</include>

	
	<!-- This is for the roah IROS refere -->
	<!-- include file="$(find roah_rsbb_comm_ros)/launch/test.launch"/>
	<node name="monitor" pkg="act_pln" type="monitor" output="screen"/-->
</launch>
